body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*centralizar o site*/
.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: cadetblue;
  color: white;
  text-align: center;
  display: flex;
}

.conteudo {
  display: flex; /*ativa o flexbox*/
}

nav {
  width: 30%;
  background-color: burlywood;
  color: red;
}

main {
  width: 70%;
  background-color: cornflowerblue;
  display: flex;
}

footer {
  background-color: crimson;
  color: blanchedalmond;
  text-align: center;
}

header,
nav,
main,
footer {
  padding: 20px;
}

section {
  background-color: rgb(84, 209, 157);
  padding: 10px;
  width: 80%;
  text-align: justify;
}

aside {
  background-color: gray;
  padding: 10px;
  width: 20%;
  margin-left: 20px;
}

.header .logo {
  background-color: rgba(187, 25, 25, 0.914);
  padding: 10px;
  width: 30%;
  margin-right: 10px;
}

.header .titulo {
  background-color: bisque;
  padding: 20px;
  width: 70%;
}

.logoImg {
  width: 60px;
  height: 60px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

li:hover {
  transition: scale ease-in-out 250ms;
  scale: 1.05;
  font-weight: bold;
}






/* ------------------------------------------------------------------------------------------------ */


.center{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; 
  padding-top: 50px;
  padding-bottom: 50px;
}

.login {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 200px;
  max-width: 100%;
}

.inputs {
  transition: all ease-in-out 300ms;
  border: solid;
  border-width: 2px;
  outline: none;
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;
}

/* ---------------------------------------------------------

Atividade Flexbox(procure 3 imagens para a atividade)

1. No head do html: utf-8, link com css, link com ícone, descrição, palavra-chave, autor
2. No body: estruturado com .container, header, nav, main, section, aside, footer (vc poderá criar mais caixas como fizemos com .conteúdo)
2. Formate toda a estrutura com CSS, utilize cores de fundo ou não, cores de fonte, margens, padding, flexbox (display:flex)
4. No header colocar uma imagem e o nome da empresa (um do lado do outro)
5. No main coloque section e aside lado a lado
6. No section insira texto de parágrafo e imagem                                                                           


Pode ser feito em dupla
Guarde o conteúdo, qdo o teams for liberado será enviado */
